$max-width-container: 850px;
$white: #ffffff;
$neon: #1fe8af;

body {
  background-color: $white;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navbar {
  .container {
    max-width: $max-width-container;
  }

  .navbar-brand img {
    height: 25px;
  }

  .navbar-avatar {
    height: 40px;
    width: 40px;
    background-size: cover;
    display: block;
    border-radius: 50%;
    margin-top: 5px;
  }
}

.bg-success, .bg-danger {
  padding: 15px;
}

.center {
  text-align: center;
}

.settings {
  .title {
    line-height: 48px;
  }

  .form-email {
    display: flex;
    align-items: center;
    justify-content: center;

    .input {
      width: 100%;
    }
  }

  .show-more {
    margin-top: 20px;
  }
}


.navbar {
  &.navbar-default {
    background-color: #1c1d1c;
    border-color: #1c1d1c;
    height: 60px;
  }

  .container-fluid {
    margin-top: 5px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .navbar-avatar {
    border: 1px solid #1fe8af;
  }

  .material-icons {
    color: #1fe8af;
  }
}

.col-left {
  margin-top: 60px;
  width: 35%;
  background-color: #ffffff;
  padding-bottom: 16px;
}
.col-right {
  margin-top: 60px;
  position: fixed;
  left: 35%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #eaeaea;
  overflow: auto;
  padding: 0 39px;
  padding-bottom: 16px;
}

.repositories-list {
  .search-input {
    margin-left: 24px;
    margin-right: 24px;
  }
  .repositories-list-item {
    padding-left: 24px !important;
    transition: background-color 0.5s linear;

    &.active {
      background-color: #eaeaea;
    }

    .version {
      color: $neon;
      font-weight: bold;
    }

    [class^=devicon-] {
      font-size: 1.4em;
    }
  }
}

.repository-content {
  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    margin-left: 16px;
    margin-right: 16px;
  }

  .description {
    margin-top: 10px;
  }

  .markdown-body {
    margin-top: 20px;
  }
}

a, a:hover, a:focus {
  color: $neon !important;
}
