$white: #ffffff;
$grey: #eaeaea;
$black: #1c1d1c;
$neon: #1fe8af;

body {
  background-color: $grey;
}

// Global styles
a, a:hover, a:focus {
  color: $neon !important;
}
.bg-success, .bg-danger {
  padding: 15px;
}
.bg-success {
  color: white;
  background-color: rgba(31, 232, 175, 0.6);
}
.center {
  text-align: center;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.navbar {
  .navbar-brand img {
    height: 25px;
  }

  .navbar-avatar {
    height: 40px;
    width: 40px;
    background-size: cover;
    display: block;
    border-radius: 50%;
    margin-top: 5px;
  }
}

.loading {
  margin-top: 20px;
}

.settings {
  .show-more {
    margin-top: 20px;
  }
}


.navbar {
  &.navbar-default {
    background-color: $black;
    height: 60px;
    border: none;
  }

  .container-fluid {
    margin-top: 5px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .navbar-right {
    display: flex;
  }

  .navbar-avatar {
    border: 1px solid $neon;
  }

  .material-icons {
    color: $neon;
  }
}

.col-left {
  margin-top: 60px;
  width: 35%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: $white;
  padding-bottom: 16px;
  padding-top: 16px;
}
.col-right {
  margin-top: 60px;
  position: fixed;
  left: 35%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $grey;
  overflow: auto;
  padding: 0 39px;
  padding-bottom: 40px;
}

.repositories-list {
  .search-input {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 0px;
  }
  .repositories-list-item {
    padding-left: 24px !important;
    transition: background-color 0.5s linear;

    &.active {
      background-color: $grey;
    }

    .version {
      color: $neon;
      font-weight: bold;
    }

    [class^=devicon-] {
      font-size: 1.4em;
    }
  }
}

.repository-content {
  .icon-close {
    display: none;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .description {
    margin-top: 10px;
  }

  .markdown-body {
    margin-top: 20px;
  }
}

// Small devices
@media (max-width: 778px) {
  .col-left {
    width: 100%;
  }
  .col-right {
    transform: translate3d(100%, 0px, 0px);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    will-change: transform;
    left: 0;
    z-index: 2;
    padding: 0;
    padding-bottom: 30px;

    &.open {
      transform: translate3d(0px, 0px, 0px);
    }
  }

  .navbar {
    .container-fluid {
      padding-left: 16px;
      padding-right: 16px;
    }
    .navbar-header {
      float: left;
    }
    .navbar-right {
      float: right;
      margin: 0;
      .navbar-avatar {
        float: left;
      }
    }
  }

  .repositories-list {
    .search-input {
      margin-left: 16px;
      margin-right: 16px;
    }

    .repositories-list-item {
      padding-left: 16px !important;
    }
  }

  .repository-content {
    .icon-close {
      display: block;
    }

    .actions {
      .span-label {
        display: none;
      }
    }
  }
}
