{% extends "layout.html" %}

{% block content %}
<section class="features section-padding" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-7">
                <div class="feature-list">
                    <h3>Your personal assistant</h3>
                    <p>Octon is a personal assistant that'll notify you when new releases have been pushed on <b>github</b> or <b>docker</b>. You will be able to view the changelog of a release.</p>
                    <ul class="features-stack">
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="&#xe03e;" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5>Multiple sources</h5>
                                <p>Github<br />Docker</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="&#xe040;" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5>Notifications</h5>
                                <p>Daily emails<br />Weekly emails<br />Rss feed</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="&#xe03c;" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5>Choose what you track</h5>
                                <p>Simply star a project with your github or docker account and octon will automatically notify you of new releases.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="device-showcase">
        <div class="devices">
            <div class="ipad-wrap wp1"></div>
            <div class="iphone-wrap wp2"></div>
        </div>
    </div>
    <div class="responsive-feature-img"><img src="img/landing/devices.png" alt="responsive devices"></div>
</section>
<section class="sign-up section-padding text-center" id="download">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>Octon is absolutely free, wanna get started ?</h3>
                <p>Octon is an <a href="https://github.com/pradel/octon">open source</a> project</p>
                <a href="/auth/github" class="btn btn-fill btn-large btn-margin-right">Log in with github</a>
            </div>
        </div>
    </div>
</section>
<section class="to-top">
    <div class="container">
        <div class="row">
            <div class="to-top-wrap">
                <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
