{% extends "layout.html" %}

{% block content %}
<section class="sign-up section-padding text-center" id="download">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>{{ error }}</h3>
                <a href="/" class="btn btn-fill btn-large btn-margin-right">Go to homepage</a>
            </div>
        </div>
    </div>
</section>
<section class="to-top">
    <div class="container">
        <div class="row">
            <div class="to-top-wrap">
                <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
